* {box-sizing: border-box;}
img{width: 100%; display: block;}

.author {
  text-align: center;
  display: block;
  font-weight: bolder;
  font-size: 1.5rem;
}
.metadata, .comment {
  text-align: center;
}
.date {
 font-style: italic;
 color: darkblue;
 font-weight: bolder;
}

/* app.js */
.container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

/* UserFeedback.js */
.feedbackcard {
  width: 300px;
  border: solid 1px gray;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  
}
.feedbackcontainer:hover{
  box-shadow: 0px 0px 10px 2px gray;
  transform: scale(1.01);
  overflow: hidden;
  border-radius: 10px;
}
.cardfooter {
  background-color: gray;
  padding: 0.5rem 1rem;
  color: aliceblue
}
.feedbackcontainer {
  margin: 1rem;
}
.content{
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 1rem;
}