*{box-sizing: border-box;}
img{width: 100%; display: block}

.card {
  border: 1px solid gray;
  width: 300px;
  border-radius: 5px;
  padding: 1rem;
  margin: 2rem;
}
.author {
  text-align: center;
  display: inline-block;
  font-weight: bolder;
  font-size: 1.5rem;
}

.metadata {
  text-align: center;
}
.date {
  font-style: italic;
  color: darkblue;
  font-weight: bold;
}

/* app.js*/
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*user_feedback.js*/
.feedbackcard {
  width: 300px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 1rem;
  margin: 2rem;
  overflow: hidden;
}

.cardfooter{
  background-color: lightgray;
  padding: 0.5rem 1rem;
  color: aliceblue;
}

.feedbackcontainer {
  margin: 1rem;

}
.feedbackcontainer:hover {
  box-shadow: 0px 0px 5px 2px gray;
  transform: scale(1.01);
  overflow: hidden;
  border-radius: 10px;
}

